@charset "UTF-8";
html,
body {
  /**
     *  fix irrelevant padding, cause by MUI Menu component,when it render, it add extra paddingRight to navbar and body
     * MUI add padding of 15px to cover the scroll bar,that's why remove hard coded padding from body,so to leverage that padding effect.
     */
  /* padding: 0 !important; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 87.5%;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide/show scrollbar for Chrome, Safari and Opera */
body ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 75%;
  }
}

:root {
  --mui-palette-primary-main: #e85451;
  --mui-palette-primary-light: #e85451;
  --mui-palette-primary-dark: #e85451;
  --mui-palette-secondary-main: #37474f;
  --mui-palette-secondary-light: #37474f;
  --mui-palette-secondary-dark: #37474f;
  --mui-palette-common-black: #37474f;
  --mui-palette-tertiary-black: #394b57;
  --mui-palette-text-primary: #37474f;
  --mui-palette-common-white: #f5f5f5;
  --mui-palette-button-selected: #f6f6f6;
  --mui-palette-skeleton-background: #d9d9d9;
  --mui-palette-info-main: #737678;
  --mui-palette-grey-A700: #575757;
  --mui-palette-grey-A600: #e2e2e2;
  --mui-palette-grey-A500: #87898a;
  --mui-palette-grey-A400: #e7e7e7;
  --mui-palette-grey-A300: #f2f2f280;
  --mui-palette-grey: #616569;
  --mui-palette-white-A50: #ffffff;
  --mui-palette-white-A60: #f1f1f1;
  --mui-palette-red-light-1: #f8f8f8;
  --mui-palette-unselected-button-border: #f2f2f2;
  --mui-palette-error-color: #c94444;
  --mui-palette-error-color-light: #ff7a00;
  --mui-palette-select-placeholder: #bbbbbb;
  --mui-palette-white-A100: #f2f2f2;
  --mui-palette-white: #fff;
  --mui-palette-success-failure-message-black: #151522;
  --mui-palette-gray-60: #999999;
  --mui-palette-black: #000000;
  --mui-pallete-gray-70: #4f4f4f;
  --fb-background-color: #4267b2;

  --mui-pallete-black-10: rgba(0, 0, 0, 0.1);

  --mui-palette-modal-background: #fefefe;
  --mui-palette-box-shadow: #0000003a;
  --mui-select-background-grey: #0000000a;

  --loader-theme-white-color-overlay: #ffffffe6;
  --loader-theme-semilight-color-overlay: #ffffffa6;

  --mui-styled-rating: #f1bf42;

  --swiper-theme-color: #ef5350 !important;
  --swiper-navigation-size: 10px !important;
  --swiper-pagination-bullet-size: 8px !important;
  --swiper-pagination-color: #fff !important;

  --font-subtitle1New-size: 1rem;
  --font-subtitle1New-weight: 600;
  --font-subtitle1New-lineHeight: 1.7;

  --font-subtitle2New-size: 1rem;
  --font-subtitle2New-weight: 400;
  --font-subtitle2New-lineHeight: 1.7;
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.89801px 4.79602px;
  border-radius: 8.06655px;
  left: 50% !important;
  width: max-content !important;
}

/* .swiper-pagination-bullets {
  background: rgba(0, 0, 0, 0.5);
} */

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 1) !important;
  opacity: 1 !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: pointer !important;
  pointer-events: visible !important;
}

.swiper-pagination-bullet-active {
  background: var(
    --swiper-pagination-color,
    var(--swiper-theme-color)
  ) !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: pointer !important;
  pointer-events: visible !important;
}

.slick-next {
  background: url("/common/slideArrow.png") center center no-repeat !important;
  background-color: #f2f2f2 !important;
  padding: 15px !important;
  border-radius: 20px;
  margin-right: 25px;
}

.slick-next:before {
  display: none !important;
}

.slick-prev {
  background: url("/common/slideArrow.png") center center no-repeat !important;
  transform: rotate(180deg) !important;
  margin-top: -15px;
  margin-left: 10px;
  background-color: #f2f2f2 !important;
  padding: 15px !important;
  border-radius: 20px;
  z-index: 10;
}

.slick-prev:before {
  display: none !important;
}

.carousel .thumbs-wrapper .thumb {
  width: 236px !important;
  height: 142px;
  border-radius: 8px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.carousel .control-next.control-arrow::before {
  content: "" !important;
  border: solid black !important;
  border-width: 0 3px 3px 0 !important;
  display: inline-block !important;
  padding: 8px !important;
  transform: rotate(-45deg) !important;
  -webkit-transform: rotate(-45deg) !important;
}

.carousel .control-prev.control-arrow::before {
  content: "" !important;
  border: solid black !important;
  border-width: 0 3px 3px 0 !important;
  display: inline-block !important;
  padding: 8px !important;
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg) !important;
  z-index: 100000 !important;
}

.carousel .slider-wrapper {
  overflow: hidden !important;
  margin: auto !important;
  width: 90% !important;
  height: "auto" !important;
  border-radius: 8px !important;
}

.carousel .thumbs {
  overflow-x: scroll !important;
  text-align: left !important;
  padding-left: 3% !important;
}

.carousel .carousel-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.62241px !important;
  gap: 3.23px !important;
  width: 69.19px !important;
  height: 44.75px !important;
  right: 6% !important;
  top: 85% !important;
  font-weight: 600;
  font-size: "0.862rem" !important;
  line-height: 1.7 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 8.62241px !important;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  margin-left: 0;
}
iframe#lhc_status_widget_v2.lhc-desktop {
  min-height: none !important;
  min-width: none !important;
  max-height: none !important;
  max-width: none !important;
  width: auto !important;
  height: auto !important;
  inset: auto -156px -33px auto !important;
}

iframe#lhc_needhelp_widget_v2.lhc-mobile {
  inset: auto 78px -5px auto !important;
}
